.*.swp
.classpath/
.settings/com.springsource.sts.grails.core.prefs
.settings/org.eclipse.core.resources.prefs
grails-spring-security-shibboleth-native-sp-*.zip
plugin.xml
stacktrace.log
target-eclipse/
target/
web-app/
